Source: ros-groovy-manipulation-msgs
Section: misc
Priority: extra
Maintainer: Jon Binney <jbinney@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-household-objects-database-msgs, ros-groovy-message-generation, ros-groovy-sensor-msgs, ros-groovy-shape-msgs, ros-groovy-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-groovy-manipulation-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs, ros-groovy-household-objects-database-msgs, ros-groovy-message-generation, ros-groovy-message-runtime, ros-groovy-sensor-msgs, ros-groovy-shape-msgs, ros-groovy-std-msgs
Description: The manipulation_msgs package
